@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage4.cshtml";
}

<h2>Index</h2>
<div class="container_12">

	<!-- Filter -->
	<section class="faq grid_12">

		<div class="left">
			
			<h2 class="section_heading">About trips</h2>

			<ul>
				<li>
					<h3><span class="number">1</span> Praesent laoreet sem sit amet urna dapibus?</h3>
					<p>Curabitur rutrum lacinia dui vitae tempus. Etiam porttitor, metus id rutrum placerat, quam arcu lobortis magna, et ornare leo massa at massa. Aliquam tempor iaculis dui at pellentesque.</p>
				</li>
				<li>
					<h3><span class="number">2</span> Aliquam tempor iaculis dui at pellentesque?</h3>
					<p>Sed vitae mauris vitae elit porta rhoncus at eget augue. Pellentesque eu ante eu ante mollis eleifend. Praesent a eros elit, vitae dapibus sem. Morbi scelerisque nulla at lorem egestas fringilla. Proin sit amet lectus ac risus sagittis auctor. Nulla laoreet lobortis pulvinar.</p>
				</li>
				<li>
					<h3><span class="number">3</span> Sed vitae mauris vitae elit porta rhoncus?</h3>
					<p>Curabitur rutrum lacinia dui vitae tempus. Etiam porttitor, metus id rutrum placerat, quam arcu lobortis magna, et ornare leo massa at massa. Aliquam tempor iaculis dui at pellentesque. Pellentesque accumsan consectetur dolor sed facilisis. Etiam sed purus sem, quis accumsan nunc.</p>
				</li>
				<li>
					<h3><span class="number">4</span> Praesent laoreet sem sit amet urna dapibus?</h3>
					<p>Curabitur rutrum lacinia dui vitae tempus. Etiam porttitor, metus id rutrum placerat, quam arcu lobortis magna, et ornare leo massa at massa. Aliquam tempor iaculis dui at pellentesque.</p>
				</li>
			</ul>

		</div>

		<div class="right">
			
			<h2 class="section_heading">About us</h2>

			<ul>
				<li>
					<h3><span class="number">1</span> Praesent laoreet sem sit amet urna dapibus?</h3>
					<p>Curabitur rutrum lacinia dui vitae tempus. Etiam porttitor, metus id rutrum placerat, quam arcu lobortis magna, et ornare leo massa at massa. Aliquam tempor iaculis dui at pellentesque.</p>
				</li>
				<li>
					<h3><span class="number">2</span> Aliquam tempor iaculis dui at pellentesque?</h3>
					<p>Pellentesque eu ante eu ante mollis eleifend. Praesent a eros elit, vitae dapibus sem. Morbi scelerisque nulla at lorem egestas fringilla. Proin sit amet lectus ac risus sagittis auctor. Nulla laoreet lobortis pulvinar.</p>
				</li>
				<li>
					<h3><span class="number">3</span> Sed vitae mauris vitae elit porta rhoncus?</h3>
					<p>Sed vitae mauris vitae elit porta rhoncus at eget augue. Curabitur rutrum lacinia dui vitae tempus. Etiam porttitor, metus id rutrum placerat, quam arcu lobortis magna, et ornare leo massa at massa. Aliquam tempor iaculis dui at pellentesque. Pellentesque accumsan consectetur dolor sed facilisis. Etiam sed purus sem, quis accumsan nunc.</p>
				</li>
				<li>
					<h3><span class="number">4</span> Praesent laoreet sem sit amet urna dapibus?</h3>
					<p>Curabitur rutrum lacinia dui vitae tempus. Etiam porttitor, metus id rutrum placerat, quam arcu lobortis magna, et ornare leo massa at massa. Sed vitae mauris vitae elit porta rhoncus at eget augue. Aliquam tempor iaculis dui at pellentesque.</p>
				</li>
			</ul>

		</div>

	</section>
	
</div> 
 
